:root {
	--spacing-xs: 4px;
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;

	--rounding: 4px;

	--color-background: #152F56;
	--color-accent: #6cf;
	--color-secondary: #28c;
	--color-button: rgba(150.0, 150.0, 255.0, 0.4);

	background: var(--color-background);
	--default-font: normal 300 20px 'Roboto', 'Calibri';
	font: var(--default-font);
}

a:link, a:visited, a:active {
	color: var(--color-accent);
	text-decoration: none;
}
a:hover, button:hover {
	color: var(--color-secondary);
	cursor: pointer;
	text-decoration: none;
}

.hidden {
	display: none !important;
}

* {
	box-sizing: border-box;
}

hr {
	width: 100%;
}
hr, fieldset {
	border: 2px solid var(--color-secondary);
}

html {
	margin: 0;
}

input[type="text"], textarea {
	display: block;
	font: var(--default-font);
	border: 0;
}

button {
	width: fit-content;
	color: inherit;
	background: none;
	font: inherit;
	outline: inherit;
	border: none;
	text-align: center;
}

body {
	margin: 0;
	max-width: 640px;

	color: #FFFFFF;
}

header {
	background: #232B2B;

	border-bottom-style: solid;
	border-bottom-width: var(--spacing-m);
	border-color: #039;

	padding-inline-start: 10%;
	font-size: 42px;
	font-weight: 300;
}

main {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--spacing-s);
	padding: var(--spacing-m);
	align-items: stretch;
}

footer {
	text-align: end;
	padding: var(--spacing-m);
}

.button-spacing {
	padding: 2px 6px;
}

.view-button, .indicator {
	display: block;
	text-align: center;
}

.tag-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: var(--spacing-xs);
}

.tag-list > * {
	text-align: center;
	background-color: var(--color-button);
	border-radius: var(--rounding);

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.tag-list-placeholder {
	text-align: center;
	color: var(--color-accent);
}

.custom-query-list {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--spacing-xs);
	align-items: stretch;
}
.custom-query-item {
	border-radius: var(--rounding);
	overflow: hidden;
	width: 100%;
	
	display: flex;
	flex-flow: row nowrap;
	/* gap: var(--spacing-s); */
	align-items: stretch;

	background: var(--color-button);
}
.custom-query-item-main {
	flex-grow: 1;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.custom-query-item-side {
	width: 28px;
	cursor: pointer;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.close {
	background-color: rgb(240, 120, 120);
}
.close::after {
	content: "×";
	text-align: center;
	display: block;
}
.close:hover {
	background-color: rgb(240, 170, 170);
}
.close:active {
	background-color: rgb(240, 70, 70);
}

.add {
	background-color: rgb(120, 240, 200);
}
.add::after {
	content: "+";
	text-align: center;
	display: block;
}
.add:hover {
	background-color: rgb(170, 240, 200);
}
.add:active {
	background-color: rgb(70, 240, 140);
}

.checkbox-row {
	display: flex;
	flex-flow: row nowrap;
	gap: var(--spacing-s);
	cursor: pointer;
}
.checkbox-row label {
	cursor: pointer;
}

.backup-view {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--spacing-s);
	align-items: stretch;
	border-radius: var(--rounding);
}

#backup-textarea {
	width: 80%;
	margin-inline: auto;
}

.backup-buttons-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 22px;
	justify-items: center;
}
.backup-buttons-row > * {
	display: block;
}
